.bg-orange-100 {
  background-color: #fff4e6 !important;
}

.bg-orange-200 {
  background-color: #ffe8cc !important;
}

.bg-orange-300 {
  background-color: #ffd8a8 !important;
}

.bg-orange-400 {
  background-color: #b28561 !important;
}

.bg-orange-500 {
  background-color: #573821 !important;
}

.bg-orange-600 {
  background-color: #37210f !important;
}

.bg-orange-700 {
  background-color: #361a0b !important;
}

.bg-orange-800 {
  background-color: #1e0c06 !important;
}

.bg-orange-900 {
  background-color: #27120c !important;
}

.hero__image {
  width: 100vw !important;
  min-height: 40vh !important;
}

a,
button {
  border: 2px solid transparent !important;
}

.button-hover-clear:hover {
  background-color: transparent !important;
  border: 2px solid #b28561 !important;
  color: white !important;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 0.5);
  color: white;
}

.hero__title h2 {
  font-size: 3rem;
}

.hero__title h3 {
  font-size: 2rem;
}

.card-img-top {
  object-fit: cover !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #b28561;
  color: black !important;
}

.card {
  overflow: hidden;
}

.card img {
  height: 350px;
  max-height: 350px;
  max-width: 500px;
  overflow: hidden;
  transition: all 0.2s ease;
  align-self: center;
}

.card img:hover {
  transform: scale(1.05);
}

.nav-link.active {
  background-color: #b28561 !important;
  color: black !important;
  border-radius: 10px;
}

.offcanvas-button-hover:hover{
  background-color: #b28561 !important;
  color: black !important;
  border-radius: 10px;
}

input::placeholder{
  color: rgb(197, 197, 197) !important;
}

.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.about-header {
  height: 40vh;
  overflow: hidden;
}

.about-header-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .hero__title h2 {
    font-size: 5rem;
  }

  .hero__title h3 {
    font-size: 3.5rem;
  }

  .hero__title {
    top: 40%;
  }
}

.carousel__image {
  height: 450px;
  object-fit: cover;
}

.carousel {
  margin-top: 7%;
}

.hamper-header {
  height: 55vh;
  overflow: hidden;
}

.hamper-header-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hamper-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 0.5);
  color: white;
  font-size: 6rem;
}

.food-card {
  position: relative;
  display: inline-block;
  width: 100% !important;
  height: 13rem !important;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.food-card img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important;
  object-position: center;
}

.food-card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 0.5);
  font-size: clamp(0.5rem, 1.7rem, 3rem);
  text-align: center;
  width: 100% !important;
}

.food-card button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: 2rem;
  background-color: #b28561;
  border-radius: 20px;
  font-weight: bold;
}

.food-card:hover {
  transform: scale(1.05);
}

.baking-lesson-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 0.5);
  color: white;
  font-size: 6rem;
}

.baking-lesson-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.baking-lesson-header {
  height: 55vh;
  overflow: hidden;
}

.baking-lessons {
  position: relative;
  display: inline-block;
  width: 100% !important;
  height: 30rem !important;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.baking-lesson button {
  position: absolute;
  bottom: 0.1%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: 2rem;
  background-color: #b28561;
  border-radius: 20px;
  font-weight: bold;
}

.baking-lessons:hover {
  transform: scale(1.05);
}

.baking-lessons-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 0.5);
  font-size: clamp(0.5rem, 1.7rem, 3rem);
  text-align: center;
  width: 100% !important;
}

.baking-lessons img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center;
}

.baking-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(53, 53, 52, 0.5);
  font-size: clamp(0.5rem, 1.1rem, 3rem);
  text-align: center;
  width: 100% !important;
}
